@{
    ViewData["Title"] = "Pristup odbijen";
}

<div class="text-center">
    <h1 class="text-danger">Pristup odbijen</h1>
    <p>Nemate ovlaštenje za pristup ovoj stranici.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Početna</a>
</div>
