@model ETFTalentProgram.Models.Verifikacija

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Verifikacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatumPodnosenja" class="control-label"></label>
                <input asp-for="DatumPodnosenja" class="form-control" />
                <span asp-validation-for="DatumPodnosenja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumVerifikacije" class="control-label"></label>
                <input asp-for="DatumVerifikacije" class="form-control" />
                <span asp-validation-for="DatumVerifikacije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusVerifikacije" class="control-label"></label>
                <select asp-for="StatusVerifikacije" class="form-control"></select>
                <span asp-validation-for="StatusVerifikacije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Komentar" class="control-label"></label>
                <input asp-for="Komentar" class="form-control" />
                <span asp-validation-for="Komentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dokumenti" class="control-label"></label>
                <input asp-for="Dokumenti" class="form-control" />
                <span asp-validation-for="Dokumenti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReferentId" class="control-label"></label>
                <select asp-for="ReferentId" class ="form-control" asp-items="ViewBag.ReferentId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
