@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Administrator Dashboard</h1>
    <p class="lead">Dobrodošli u administratorski panel ETF Talent Programa.</p>
</div>
